html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #37528C;
    color: #FFAD33;
    font-family: 'Exo 2', sans-serif;
    font-size: 175%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
