$Documentation--breakpoint: $Viewport--md;
$Documentation--section_padding: 50px;

.Documentation {
    @extend .clearfix;
}

.Documentation-table_of_contents {
    @include make-Column--min(3, $Documentation--breakpoint);

    display: block;
    position: sticky;
    top: $SiteHeader-banner--height;
    height: 80px;
    margin-top: $Documentation--section_padding;
    padding: 15px;

    transition: background-color 0.5s 0.5s;

    ul {
        list-style: none inside none;
        margin: 0;
        padding: 0;
    }
    
    > ul {
        position: relative;
        overflow: auto;

        margin: 15px -15px 0;
        padding: 0 15px;

        max-height: 0vh;
        transition: 0.5s;
        
        box-shadow: rgba(0,0,0,0.25) 0 10px 10px;
        background-color: $Color--body_primary;
    }

    &[revealed] {
        box-shadow: rgba(0,0,0,0.25) 0 10px 10px;
        background-color: $Color--body_primary;

        transition: none;
    }
    
    &[revealed] > ul {
        padding-bottom: 15px;
        
        max-height: calc(100vh - #{$SiteHeader-banner--height});
    }

    li {
        border-top: 1px solid $Color--hero_primary;
    }

    > ul > li:first-child {
        border-top-width: 0;
    }

    a {
        display: block;
        padding: 5px 0 9px;

        text-decoration: none;
    }

    @media (min-width: $Documentation--breakpoint) {
        height: auto;

        &[revealed] {
            box-shadow: none;
            background-color: transparent;
    
            transition: none;
        }

        > ul, &[revealed] > ul {
            margin: 0;
            padding: 0;

            max-height: calc(100vh - #{$SiteHeader-banner--height});
            box-shadow: none;
    
            transition: none;
        }
    }
}

.Documentation-toc_reveal {
    position: relative;
    z-index: 1;
    box-shadow: rgba(0,0,0,0.25) 0 5px 10px;

    @media (min-width: $Documentation--breakpoint) {
        display: none;
    }
}

.Documentation-content {
    @include make-Column--with_gutter_min(9, $Documentation--breakpoint);

    @media (min-width: $Documentation--breakpoint) {
        margin-top: $Documentation--section_padding;

        > *:first-child {
            margin-top: 0px;
        }
    }
}