$GithubCorner--width: 75px;
$GithubCorner--width_sm: 100px;
$GithubCorner--width_md: 120px;
$GithubCorner--width_lg: 150px;

.GithubCorner {
    position: absolute;
    top: 0;
    right: 0;

    z-index: $Stacking--github_corner_level;
    width: $GithubCorner--width;

    @media (min-width: $Viewport--sm) {
        width: $GithubCorner--width_sm;
    }

    @media (min-width: $Viewport--md) {
        width: $GithubCorner--width_md;
    }

    @media (min-width: $Viewport--lg) {
        width: $GithubCorner--width_lg;
    }
}

.GithubCorner svg {
    fill: $Color--brand_primary;

    width: 100%;
    height: auto;
}

.GithubCorner:hover .octo-arm, .GithubCorner:focus .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .GithubCorner:hover .octo-arm {
        animation: none
    }

    .GithubCorner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.GithubCorner:focus svg {
    fill: $Color--brand_secondary;
}