.HeroHeader {
    @extend .clearfix;
    @include make-Color--hero_colorway();

    position: relative;
    text-align: center;
}

.HeroHeader--full_height {
    display: flex;
    min-height: 100vh;
}

.HeroHeader--full_height-content {
    @extend .Container;
    margin: auto;
}