$SiteHeader-banner--height: 50px;

.SiteHeader {
    @extend .clearfix;
    @include make-Color--hero_colorway();

    position: fixed;
    top: 0;
    width: 100%;

    z-index: $Stacking--site_header_level;

    &.is-SiteHeader--at_top {
        background: transparent;

        transition: background 0.5s 0.15s, padding-right 0.5s;
        
        @media (min-width: $Viewport--sm) {
            padding-right: $GithubCorner--width_sm;
        }

        @media (min-width: $Viewport--md) {
            padding-right: $GithubCorner--width_md;
        }

        @media (min-width: $Viewport--lg) {
            padding-right: $GithubCorner--width_lg;
        }
    }

    &.is-SiteHeader--scrolled {
        padding-right: 0;

        transition: background 0.5s, padding-right 0.5s 0.15s;
    }
}

.SiteHeader-menu {
    list-style: none inside none;
    float: right;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: $SiteHeader-banner--height;
    margin: 0;
    padding: 0;

    li {
        padding: 5px;
    }

    :link, :visited {
        color: $Color--body_primary;
        text-decoration: none;

        &:hover, &:focus {
            color: $Color--body_primary;
            text-decoration: underline;
        }
    }
}

.SiteHeader-brand {
    display: block;
    float: left;
    height: $SiteHeader-banner--height;
    padding: 10px;
}

.SiteHeader-brand_logo {
    width: auto;
    height: 100%;
}